<head>
    <link rel="stylesheet" type="text/css" href="./static/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title> Dashboard </title>
</head>
<body>
    <div id="bg">
        <img src="./static/images/bg1.png" alt="" >
    </div>
    <div class="description">
        <h3>Top 4 Matches!!</h3>
       {% for key, value in options.items() %}
        <div class="Rtable-cell">
            <h3><a href="mailto:{{ key }}">{{key}}</a></h3>
            <div class="progress">
                <div id="match" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow={{value}} aria-valuemin="0" aria-valuemax="100" style="width:{{ value }}%">
                    {{value}}% Match
                </div>
            </div>
       </div>
        {% endfor %}
    </div>




</body>

