<head>

    <link rel="stylesheet" href="./static/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script  src="./static/profilepic.js"></script>
<title>
   Sign-Up
</title>
</head>
<body>
 <div id="bg">
        <img src="./static/images/bg1.png" alt="" >
    </div>
<div class="signup-form">
        <h1>Sign-Up</h1>
            <form  action="http://localhost:3400/dashboard" method="POST">
                 <div class="picture-container">
                    <div class="picture">
                        <img src="./static/images/profilepic.jpg" class="picture-src" id="wizardPicturePreview" title="">
                        <input type="file" id="wizard-picture" class="">
                    </div>
                     <h6 class="">Choose Picture</h6>

    </div>
            </form>
    </div>
</body>